<div id="sidebar-collapse">
    <div class="admin-block d-flex">
        <div>
            <img src="./assets/img/admin-avatar.png" width="45px" />
        </div>
        <div class="admin-info">
            <div class="font-strong"> </div>
            <small>مدير النظام</small>
        </div>
    </div>
    <ul class="side-menu metismenu">
        <li>
            <a routerLinkActive="active" routerLink="/home">
                <i class="sidebar-item-icon fa fa-th-large"></i>
                <span class="nav-label">الرئيسية</span>
            </a>
        </li>
        <li>
            <a routerLink="/applications" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-wpforms"></i>
                <span class="nav-label">طلبات الإشتراك</span>
            </a>
        </li>
        <li>
            <a routerLink="/players" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-futbol-o"></i>
                <span class="nav-label">اللاعبين</span>
            </a>
        </li>
        <li>
            <a routerLink="/news" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-newspaper-o"></i>
                <span class="nav-label">الأخبار</span>
            </a>
        </li>
        <li>            
            <a routerLink="/records" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-pie-chart"></i>
                <span class="nav-label">الانجازات</span>
            </a>
        </li>
        <li>
            <a routerLink="/gallary" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-image"></i>
                <span class="nav-label"> الصور والفديوهات</span>
            </a>
        </li>

        
        <li>
            <a routerLink="/championship" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-trophy"></i>
                <span class="nav-label">البطولات</span>
            </a>
        </li>


        <li>
            <a routerLink="/partners" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-handshake-o"></i>
                <span class="nav-label">الشركاء</span>
            </a>
        </li>


        <li>
            <a routerLink="/live" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-youtube"></i>
                <span class="nav-label">البث المباشر</span>
            </a>
        </li>


        <li>
            <a routerLink="/contactinfo" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-phone"></i>
                <span class="nav-label"> بيانات الأتصال </span>
            </a>
        </li>


        <li>
            <a routerLink="/messages" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa fa-envelope-o"></i>
                <span class="nav-label"> الرسائل الواردة </span>
            </a>
        </li>


        <li>
            <a routerLink="/about" routerLinkActive="active">
                <i class="sidebar-item-icon fa fa-info-circle"></i>
                <span class="nav-label"> عن الأكاديمية </span>
            </a>
        </li>


        <li routerLinkActive="active">
            <a href="javascript:;">
                <i class="sidebar-item-icon fa fa-users"></i>
                <span class="nav-label">
                    اللجان
                </span>
                <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/commissions" routerLinkActive="active" style="color:green">اضافه لجنة  <i class="fa fa-plus"></i>  </a>
                </li>
            </ul>
        </li>



        <!-- <li routerLinkActive="active">
            <a href="javascript:;">
                <i class="sidebar-item-icon fa fa-bookmark"></i>
                <span class="nav-label">
                    المستخدمين
                </span>
                <i class="fa fa-angle-left arrow"></i>
            </a>
            <ul class="nav-2-level collapse" routerLinkActive="in">
                <li>
                    <a routerLink="/" routerLinkActive="active">مستخدمي لوحة التحكم</a>
                </li>
                <li>
                    <a routerLink="/" routerLinkActive="active">مستخدمي التطبيق</a>
                </li>
            </ul>
        </li> -->



    </ul>
</div>