<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6 pull-right">
            <h3>
                <i class="fa fa-bar-chart"></i>
                <span>الأنجازات</span>
            </h3>
            <p>
                هنا يمكنك إدخال إحصائيات عن اللاعبين المتميزين
            </p>
        </div>
    </div>
    <hr />
    <div style="z-index:99999;" class="row fade-in-up">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">البيانات</div>
                </div>
                <div class="ibox-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="champion-form" action="javascript:;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>عدد الاهداف </label>
                                        <input required class="form-control" name="noGoals" [(ngModel)]="item.noGoals" type="number" placeholder="عدد الاهداف">
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>عدد اللاعبين</label>
                                        <input required class="form-control" name="noPlayers" type="number" [(ngModel)]="item.noPlayers" placeholder="عدد اللاعبين">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label>عدد المناسبات</label>
                                        <input required class="form-control" name="noEvants" [(ngModel)]="item.noEvants" type="number" placeholder="عدد المناسبات">
                                    </div>
                                    <div class="col-sm-12 form-group">
                                        <label>عدد الجوائز</label>
                                        <input required class="form-control" name="noPrize" type="number" [(ngModel)]="item.noPrize" placeholder="عدد الجوائز">
                                    </div>
                                </div>
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

                                <div class="ibox">
                                    <div class="ibox-head">
                                        <div class="ibox-title">اللاعبين</div>
                                        <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="text-success pull-left" (click)="setState()">
                                            <i class="fa fa-plus"></i> اضافه لاعب
                                        </a>
                                    </div>
                                    <div *ngIf="!item.players.length">
                                        قم بادخال اللاعبين
                                    </div>


                                    <div  style="overflow-y:auto;">
                                        <table class="table table-hover" *ngIf="item.players.length">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>الصوره </th>
                                                    <th>الاسم</th>
                                                    <th>التصنيف</th>
                                                    <th>السبب</th>
                                                    <th style="height: 50px;"></th>
                                                </tr>
                                            </thead>
                                            <tbody style="height: 200px; overflow-y:scroll;">

                                                <tr *ngFor="let it of item.players ;  let i = index">
                                                    <td>{{i}}</td>
                                                    <td>
                                                        <img [src]="it.image ? it.image : './assets/img/image.png'"  style="width: 100px;"  >
                                                    </td>
                                                    <td>{{it.name}}</td>
                                                    <td>{{it.category}}</td>
                                                    <td>{{it.reason}}</td>
                                                    <td>
                                                        <button href="javascript:;" class="btn btn-default btn-xs m-r-5" data-original-title="Edit" (click)="updateMember(it ,i)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil font-14"></i></button>
                                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete" (click)="deleteMember(i)"><i class="fa fa-trash font-14"></i></button>
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>


                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group pull-left">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                                            حفظ
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-dark" role="alert">
                                        الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                                    </div>
                                </div>

                            </div>



                        </div>
                    </form>



                    <!-- add player popup -->
                    
                    <div class="row ">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #model>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">بيانات اللاعب</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #PopUp>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form #f2="ngForm" (ngSubmit)="onSubmitMember()" id="member-form" action="javascript:;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                                        <app-repo-image-uploader (imgChanged)="onImageChangedMembers($event)" [url]="item2.image" desc="صورة اللاعب"></app-repo-image-uploader>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 form-group ">
                                                            <label>اسم اللاعب</label>
                                                            <input required class="form-control" name="name" [(ngModel)]="item2.name"  type="text" placeholder="اسم اللاعب">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 form-group ">
                                                            <label>السبب</label>
                                                            <textarea required class="form-control" rows="4"  [(ngModel)]="item2.category"  class="form-control" name="category"  placeholder="سبب التفوق"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 form-group ">
                                                            <label>التصنيف</label>
                                                            <input required class="form-control" name="reason" [(ngModel)]="item2.reason"  type="text" placeholder="التصنيف">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default">
                                                    <!--<i class="fa fa-spinner fa-pulse fa-fw"></i>-->
                                                    حفظ
                                                </button>

                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetMember()">إلغاء</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>







                </div>
            </div>
        </div>
    </div>

</div>
