﻿<div class="page-heading">
    <h1 class="page-title">الاشتراكات</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">هنا يمكنك إدارة طلبات الاشتراك</li>
    </ol>
    <!--<div class="row pull left">
        <label class="ui-checkbox ui-checkbox-gray">
            <input class="js-sidebar-toggler" type="checkbox">
            <span class="input-span"></span>Collapse sidebar
        </label>

    </div>-->
</div>

<div class="page-content fade-in-up col-md-12">
    <ul class="nav nav-tabs tabs-line">
        <li class="nav-item">
            <a class="nav-link" (click)="getBy('pending')"><i class="fa fa-line-chart"></i> الطلبات</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="getBy('accepted')"><i class="fa fa-heartbeat"></i> المقبولين</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="getBy('rejected')"><i class="fa fa-life-ring" #tab1></i> المرفوضين</a>
        </li>
    </ul>

    <div class="ibox" style="overflow-x:auto;">
        <div class="ibox-body">
            <table class="table table-hover" id="example" cellpadding="0" border="0" style="width:100%">
                <thead>
                    <tr>
                        <th>الاسم</th>
                        <th>الاميل</th>
                        <th>الهاتف</th>
                        <th>العنوان</th>
                        <th>المنطقه</th>
                        <th>تاريخ الميلاد</th>
                        <th>الوصف</th>
                        <th>مصدر المعرفه </th>
                        <!--<th>الحاله</th>-->
                        <th [hidden]="stateMachine"> قبول |رفص</th>
                    </tr>
                </thead>
                <!--<tfoot>
                    <tr>
                        <th>الاسم</th>
                        <th>الاميل</th>
                        <th>الهاتف</th>
                        <th>العنوان</th>
                        <th>المنطقه</th>
                        <th>تاريخ الميلاد</th>
                        <th>الوصف</th>
                        <th>مصدر المعرفه </th>
                        <th>الحاله</th>
                        <th>قبول |رفص</th>
                    </tr>
                </tfoot>-->
                <tbody>
                    <tr *ngFor="let it of subscriptions ; let i = index">
                        <td>{{it.name}}</td>
                        <td>{{it.email}}</td>
                        <td>{{it.mobile}}</td>
                        <td>{{it.address}}</td>
                        <td>{{it.district}}</td>
                        <td>{{it.birthdate|date}}</td>
                        <td>{{it.description}}</td>
                        <td>{{it.sourceKnowing}}</td>
                        <!--<td>{{it.status}}</td>-->
                        <td  [hidden]="stateMachine">
                            <button class="btn btn-default btn-xs m-r-5" (click)="accept(it,i)"><i class="fa fa-check"></i></button> |
                            <button class="btn btn-default btn-xs m-r-5" (click)="reject(it ,i)"><i class="fa fa-times  "></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
