<div class="page-brand">
    <a class="link" href="#">
        <span class="brand">أكاديمية
            <span class="brand-tip"> الرعب</span>
        </span>
        <span class="brand-mini">HA</span>
    </a>
</div>


<div class="flexbox flex-1">
    <!-- START TOP-LEFT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li>
            <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
        </li>
        <li>
            <form class="navbar-search" action="javascript:;">
                <div class="rel">
                    <span class="search-icon"><i class="ti-search"></i></span>
                    <input class="form-control" placeholder="إبحث هنا ...">
                </div>
            </form>
        </li>
    </ul>


    <!-- END TOP-LEFT TOOLBAR-->
    <!-- START TOP-RIGHT TOOLBAR-->
    <ul class="nav navbar-toolbar">
        <li class="dropdown dropdown-inbox">
            <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope-o"></i>
                <span class="badge badge-primary envelope-badge">9</span>
            </a> -->
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <!-- <li class="dropdown-menu-header">
                    <div>
                        <span><strong>9 جديدة</strong> الرسائل</span>
                        <a class="pull-right" href="mailbox.html">عرض الكل</a>
                    </div>
                </li> -->
                <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                    <div>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <img src="./assets/img/users/u1.jpg" />
                                </div>
                                <div class="media-body">
                                    <div class="font-strong"> </div>Jeanne Gonzalez<small class="text-muted float-right">Just now</small>
                                    <div class="font-13">Your proposal interested me.</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-notification">
            <!-- <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell-o rel"><span class="notify-signal"></span></i></a> -->
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media">
                <!-- <li class="dropdown-menu-header">
                    <div>
                        <span><strong>5 جديدة</strong> الإشعارات</span>
                        <a class="pull-right" href="javascript:;">عرض الكل</a>
                    </div>
                </li> -->
                <li class="list-group list-group-divider scroller" data-height="240px" data-color="#71808f">
                    <div>
                        <a class="list-group-item">
                            <div class="media">
                                <div class="media-img">
                                    <span class="badge badge-success badge-big"><i class="fa fa-check"></i></span>
                                </div>
                                <div class="media-body">
                                    <div class="font-13">4 task compiled</div><small class="text-muted">22 mins</small></div>
                            </div>
                        </a>
                    
                    </div>
                </li>
            </ul>
        </li>
        <li class="dropdown dropdown-user">
            <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                <img src="./assets/img/admin-avatar.png" />
                <span></span>مدير النظام<i class="fa fa-angle-down m-l-5"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
                <!-- <a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>الملف الشخصي</a>
                <a class="dropdown-item" href="profile.html"><i class="fa fa-cog"></i>الإعدادات</a>
                <a class="dropdown-item" href="javascript:;"><i class="fa fa-support"></i>الدعم</a> -->
                <li class="dropdown-divider"></li>
                <a class="dropdown-item" (click)="logout()"><i class="fa fa-power-off"></i>تسجيل الخروج</a>
            </ul>
        </li>
    </ul>
    <!-- END TOP-RIGHT TOOLBAR-->
</div>
