﻿<div class="page-content fade-in-up">

    <div class="row">
        <div class="col-md-4 pull-right">
            <h3>
                <i class="fa fa-youtube"></i>
                <span>الوسائط المتعدده</span>
            </h3>
            <p>
                هنا يمكنك التحكم في عرض الوسائط المتعدده
            </p>
        </div>
        <div class="col-md-4">
            <div class="center">
                <a (click)="showOneOF(false)" class="btn btn-default pull-left">
                    <i class="fa fa-youtube-play"></i> عرض الفيديوهات
                </a>
            </div>
            <div class="center">
                <a (click)="showOneOF(true)" class="btn btn-default pull-left">
                    <i class="fa fa-image"></i> عرض الصور
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="pull-left">
                <a (click)="toggleView(true,true, false,false)" class="btn btn-default pull-left">
                    <i class="fa fa-plus"></i> إضافة فيديو
                </a>
            </div>
            <div class="pull-left">
                <a (click)="toggleView(true ,false, true,false)" class="btn btn-default pull-left">
                    <i class="fa fa-plus"></i> إضافة صوره
                </a>
            </div>
        </div>

    </div>
    <hr />

    <div style="z-index:99999;" *ngIf="isForm" class="row fade-in-up">

        <!-- add vedio -->
        <div class="col-md-12">
            <div class="ibox" *ngIf="isVideo &&!isImage ">
                <div class="ibox-head">
                    <div class="ibox-title">بيانات الفيديو</div>
                    <div class="ibox-tools">
                        <a (click)="toggleView(false)" class="ibox-collapse">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-body">
                    <form #f="ngForm" (ngSubmit)="onSubmitVideo(f)" id="video-form" action="java ipt:;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label>ضع الرابط للفيديو</label>
                                            <input required class="form-control" name="videoUrl" (change)="urlChanged($event)" [(ngModel)]="itemVideo.videoUrl" type="text"
                                                placeholder="رابط للفيديو">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>ضع عنوان الفيديو</label>
                                            <input required class="form-control" name="title" type="text" [(ngModel)]="itemVideo.title" placeholder="ضع عنوان الفيديو">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>ضع وصف الفيديو</label>
                                            <textarea required class="form-control" rows="5" class="form-control" name="decription" [(ngModel)]="itemVideo.decription"
                                                placeholder=" ضع وصف الفيديو"></textarea>
                                        </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <iframe class="col-lg-12" height="400" frameborder="0" allowfullscreen *ngIf="loadingvideo" [src]="currentUrl"></iframe>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group pull-left">
                                            <button class="btn btn-default" type="submit">
                                                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                                                حفظ
                                            </button>
                                            <a class="btn btn-danger"  (click)="toggleView(false,false)"  >إلغاء</a>
                                        </div>
                                    </div>
                                    <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="alert alert-dark" role="alert">
                                            الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- add image -->
        <div class="col-md-12">
            <div class="ibox" *ngIf="isImage && !isVideo">
                <div class="ibox-head">
                    <div class="ibox-title">بيانات الصور</div>
                    <div class="ibox-tools">
                        <a (click)="toggleView(false)" class="ibox-collapse">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-body">
                    <form #f="ngForm" (ngSubmit)="onSubmitImage(f)" id="image-form" action="javascript:;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <app-repo-image-uploader (imgChanged)="onImageChanged($event)" [url]="itemImage.image" desc="الصورة"></app-repo-image-uploader>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label> اسم الصورة</label>
                                            <input required class="form-control" name="title" [(ngModel)]="itemImage.title" type="text" placeholder="اسم الصورة">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>عن الصوره</label>
                                            <textarea required class="form-control" rows="5" class="form-control" name="decription" [(ngModel)]="itemImage.decription"
                                                placeholder="اكتب نبذة  عن الصوره"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group pull-left">
                                            <button class="btn btn-default" type="submit">
                                                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                                                حفظ
                                            </button>
                                            <a class="btn btn-danger" (click)="toggleView(false)">إلغاء</a>
                                        </div>
                                    </div>
                                    <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="alert alert-dark" role="alert">
                                            الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row" *ngIf="!isForm">




        <!-- list images -->
        <div class="col-md-12" *ngIf="showOne">
            <div class="row">
                <div *ngFor="let it of images" class="col-lg-3 col-md-4 col-xs-12">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" [src]="it.image ? it.image : './assets/img/image.png'" />
                            <div class="card-body">
                                <h5 class="card-title">{{it.title}}</h5>
                                <div style="font-size: smaller !important;">{{it.decription}}</div>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:;" (click)="editImage(it)" class="text-info pull-left">
                                    <i class="fa fa-pencil"></i> تعديل
                                </a>
                                <a href="javascript:;" (click)="markImageAsDelete(it)" data-toggle="modal" data-target="#exampleModal" class="text-danger pull-right">
                                    <i class="fa fa-remove"></i> حذف
                                </a>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">تأكيد الحذف</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                هل أنت متأكد من حذف الصوره {{itemImage.title}} ؟؟
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                                <button type="button" (click)="removeImage()" data-dismiss="modal" class="btn btn-danger">تأكيد الحذف</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>




        <!-- list vedios -->
        <div class="col-md-12" *ngIf="!showOne">
            <div class="row">
                <div *ngFor="let it of videos" class="col-lg-3 col-md-4 col-xs-12">
                    <div class="card-deck">
                        <div class="card">

                            <iframe class="col-lg-12" [src]="adjustUrl(it.videoUrl)"></iframe>

                            <div class="card-body">
                                <h5 class="card-title">{{it.title}}</h5>
                                <div style="font-size: smaller !important;">{{it.decription}}</div>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:;" (click)="editVideo(it)" class="text-info pull-left">
                                    <i class="fa fa-pencil"></i> تعديل
                                </a>
                                <a href="javascript:;" (click)="markVideoAsDelete(it)" data-toggle="modal" data-target="#exampleModal1" class="text-danger pull-right">
                                    <i class="fa fa-remove"></i> حذف
                                </a>
                                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModal1Label">تأكيد الحذف</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                هل أنت متأكد من حذف الفيديو {{itemVideo.title}} ؟؟
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                                <button type="button" (click)="removeVideo()" data-dismiss="modal" class="btn btn-danger">تأكيد الحذف</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>




</div>