.container {
    width: 700px;
    height: 380px;
    margin: 20px auto;
    box-sizing: border-box;
}

.holder {
    width: 200px;
    height: 150px;
    margin: 15px;
    float: left;
}

    .holder img {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: opacity 1s, transform 0.7s ease-in;
    }

img:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 1px 3px 8px 4px rgb(195, 195, 195);
}
