﻿<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6 pull-right">
            <h3>
                <i class="fa fa-phone"></i>
                <span>بيانات الإتصال</span>
            </h3>
            <p>
                هنا يمكنك إدراة بيانات الإتصال ومواقع التواصل الخاصة بالأكاديمية
            </p>
        </div>
    </div>
    <hr />
    <div style="z-index:99999;" class="row fade-in-up">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">بيانات الاتصال</div>
                </div>
                <div class="ibox-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="contact-form" action="javascript:;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <app-repo-image-uploader (imgChanged)="onImageChanged($event)" [url]="item.image" desc="صورة الأكاديمية"></app-repo-image-uploader>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>العنوان </label>
                                            <input required class="form-control" name="address" [(ngModel)]="item.address" type="text" placeholder="العنوان">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>رقم الهاتف</label>
                                            <input required class="form-control" name="phone" type="text" [(ngModel)]="item.phone" placeholder="رقم المتصل">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>الواتس اب</label>
                                            <input required class="form-control" name="whatsApp" [(ngModel)]="item.whatsApp" type="text" placeholder="الواتس اب">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>تويتر</label>
                                            <input required class="form-control" name="twitter" type="text" [(ngModel)]="item.twitter" placeholder="تويتر">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-sm-6 form-group">
                                            <label>الانستقرام</label>
                                            <input required class="form-control" name="instagram" [(ngModel)]="item.instagram" type="text" placeholder="الانستقرام">
                                        </div>
                                        <div class="col-sm-6 form-group">
                                            <label>سناب شات</label>
                                            <input required class="form-control" name="snapshat" type="text" [(ngModel)]="item.snapshat" placeholder="سناب شات">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group pull-left">
                                        <button class="btn btn-default" type="submit">
                                            حفظ
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="alert alert-dark" role="alert">
                                        الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
