<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-6 pull-right">
      <h3>
        <i class="fa fa-trophy"></i>
        <span>عن الأكاديمية</span>
      </h3>
      <p>
        هنا يمكنك تحديد هدف ورؤية الأكاديمية
      </p>
    </div>
    <div class="col-md-6 pull-left">
      <a (click)="save()" class="btn btn-default pull-left">
        <i class="fa fa-plus"></i> حفظ و تحديث البيانات
      </a>
    </div>
  </div>
  <div class="ibox">
    <div class="ibox-head">
      <div class="ibox-title"> رؤية الأكاديمية
      </div>
    </div>
    <div class="ibox-body">
      <app-ngx-editor placeholder="قم بكتابه  رؤية الأكاديمية " [spellcheck]="true" [(ngModel)]="vision"></app-ngx-editor> 

       </div>
    </div>
   <div class="ibox">
    <div class="ibox-head">
      <div class="ibox-title">هدف الأكاديمية
      </div>
    </div>
    <div class="ibox-body">
      <app-ngx-editor placeholder=" هدف الأكاديمية  هدف الأكاديمية   " [spellcheck]="true" [(ngModel)]="target"></app-ngx-editor>
       </div>
    </div>
 </div>



 