<div class="content">
    <div style="display: block !important;" class="brand">
        <img src="assets/img/logo.png" />
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="login-form" action="javascript:;"  >
        <h2 class="login-title">تسجيل الدخول</h2>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <input class="form-control" type="text" name="username" ngModel required #username="ngModel" placeholder="البريد الإلكتروني او اسم المستخدم"
                    autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group-icon right">
                <div class="input-icon">
                    <i class="fa fa-lock font-16"></i>
                </div>
                <input class="form-control" type="password" name="password" ngModel required #password="ngModel" placeholder="كلمة المرور">
            </div>
        </div>
        <!-- <div class="form-group d-flex justify-content-between">
            <label class="ui-checkbox ui-checkbox-info">
                <input type="checkbox">
                <span class="input-span"></span>Remember me</label>
            <a routerLink="/forgot_password">Forgot password?</a>
        </div> -->
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-info btn-block" type="submit">
                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                تسجيل الدخول</button>
        </div>
    </form>
</div>