<div class="page-content fade-in-up">
  <div class="row">
    <div class="col-md-6 pull-right">
      <h3>
        <i class="fa fa-trophy"></i>
        <span>البطولات</span>
      </h3>
      <p>
        هنا يمكنك إدراة البطولات
      </p>
    </div>

    <div class="col-md-6 pull-left">
      <a (click)="toggleView(true)" class="btn btn-default pull-left">
        <i class="fa fa-plus"></i> إضافة بطولة جديدة
      </a>
    </div>
  </div>
  <hr/>
  <div style="z-index:99999;" *ngIf="isForm" class="row fade-in-up">
    <div class="col-md-12">
      <div class="ibox">
        <div class="ibox-head">
          <div class="ibox-title">بيانات البطولة</div>
          <div class="ibox-tools">
            <a (click)="toggleView(false)" class="ibox-collapse">
              <i class="fa fa-remove"></i>
            </a>
          </div>
        </div>
        <div class="ibox-body">
          <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="champion-form" action="javascript:;">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <app-repo-image-uploader (imgChanged)="onImageChanged($event)" [url]="item.image" desc="صورة البطولة"></app-repo-image-uploader>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label>اسم البطولة</label>
                      <input required class="form-control" name="title" [(ngModel)]="item.title" type="text" placeholder="اسم البطولة">
                    </div>
                    <div class="col-sm-6 form-group">
                      <label>عام الحصول علي البطولة</label>
                      <input required class="form-control" name="year" type="text" [(ngModel)]="item.year" placeholder="عام الحصول علي البطولة">
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group">
                    <label>عن البطولة</label>
                    <textarea required class="form-control" rows="5" class="form-control" name="decription" [(ngModel)]="item.decription" placeholder="اكتب نبذة عن البطولة"></textarea>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="form-group pull-left">
                    <button class="btn btn-default" type="submit">
                      <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                      حفظ</button>
                    <a class="btn btn-danger" (click)="toggleView(false)">إلغاء</a>
                  </div>
                </div>
                <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="alert alert-dark" role="alert">
                    الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let it of championships" class="col-lg-3 col-md-4 col-xs-12">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" [src]="it.image ? it.image : './assets/img/image.png'" />
          <div class="card-body">
            <h5 class="card-title">{{it.title}}</h5>
            <div class="text-muted card-subtitle">{{it.year}}</div>
            <div style="font-size: smaller !important;">{{it.decription}}</div>
          </div>
          <div class="card-footer">
            <a href="javascript:;" (click)="editItem(it)" class="text-info pull-left">
              <i class="fa fa-pencil"></i> تعديل
            </a>
            <a href="javascript:;" (click)="markAsDelete(it)" data-toggle="modal" data-target="#exampleModal" class="text-danger pull-right">
              <i class="fa fa-remove"></i> حذف
            </a>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تأكيد الحذف</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    هل أنت متأكد من حذف البطولة {{item.title}} ؟؟
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                    <button type="button" (click)="removeItem()" data-dismiss="modal" class="btn btn-danger">تأكيد الحذف</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>