﻿<div class="page-heading">
    <h1 class="page-title">
        <i class="fa fa fa-envelope-o"></i> الرسائل
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">هنا يمكنك الاطلاع والتحكم بالرسائل</li>
    </ol>
</div>
<hr />
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="ibox">
                <div class="mailbox clf">
                    <table class="table table-hover table-inbox" >
                        <thead>
                            <tr>
                                <th>الأسم</th>
                                <th>الرسائل</th>
                                <th>الايميل</th>
                                <th>التاريخ</th>
                                <th width="50px"></th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let it of messages">
                            <tr>
                                <td>
                                    {{it.name}}
                                </td>
                                <td>
                                    <a href="javascript:;" (click)="showDetails(it)" data-toggle="modal" data-target="#exampleModal1" class="text-info pull-right">
                                        <i class="fa fa-envelope-open"></i> تفاصيل الرساله
                                    </a>
                                </td>
                                <td>{{it.email}}</td>
                                <td>{{it.issuesDate |date}}</td>
                                <td>
                                    <button class="btn btn-default btn-xs" data-toggle="modal" data-original-title="Delete" data-target="#exampleModal" (click)="markAsDelete(i)"><i class="fa fa-trash font-14"></i></button>
                                </td>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">تأكيد الحذف</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                هل أنت متأكد من الرساله {{item.name}} ؟؟
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                                <button type="button" (click)="removeItem()" data-dismiss="modal" class="btn btn-danger">تأكيد الحذف</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>

                            <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModal1Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModal1Label">تفاصيل الرساله</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                             {{item.message}} ؟؟
                                        </div>                                        
                                    </div>
                                </div>
                            </div>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">

        .inbox-list li a {
            color: inherit;
        }

            .inbox-list li a i {
                margin-right: 5px
            }

        .mailbox-header, .mailbox-body {
            padding: 15px
        }

        .inbox-title {
            white-space: normal;
            margin: 8px 0;
            font-weight: 600;
        }

        .mail-search {
            width: 300px
        }

        .inbox-toolbar {
            white-space: nowrap
        }

        .table-inbox tr.unread {
            font-weight: 600;
        }

        .table-inbox tr > td:first-child {
            padding-left: 15px
        }

        .mail-attachments .card {
            width: 220px;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        @media (max-width: 992px) {
            .mail-search {
                width: 100%
            }
        }
    </style>
</div>
