<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img width="120" height="120" src="assets/img/logo.png" />
            <br/>
            <h3>
                مرحبا بك مجددا في لوحة التحكم الخاصة بأكاديمية الرعب
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 pull-right">
            <h3>
                <i class="fa fa-dashboard"></i>
                <span>لوحة التحكم الرئيسية</span>
            </h3>
            <p>
                إليك بعض الإحصائيات التي تهمك
            </p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-grey color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.applications}}</h2>
                    <div class="m-b-5">طلب إشتراك</div>
                    <i class="fa fa-wpforms widget-stat-icon"></i>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-info color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.players}}</h2>
                    <div class="m-b-5">لاعب</div>
                    <i class="fa fa-futbol-o widget-stat-icon"></i>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-warning color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.championships}}</h2>
                    <div class="m-b-5">بطولة</div>
                    <i class="fa fa-trophy widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-danger color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.newses}}</h2>
                    <div class="m-b-5">الأخبار</div>
                    <i class="fa fa-newspaper-o widget-stat-icon"></i>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-success color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.partners}}</h2>
                    <div class="m-b-5">الشركاء</div>
                    <i class="fa fa-handshake-o widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-pink color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.messages}}</h2>
                    <div class="m-b-5">الرسائل الواردة</div>
                    <i class="fa fa fa-envelope-o widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="ibox bg-purple color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong"> {{stats.gallary}}</h2>
                    <div class="m-b-5">الصور والفيديوهات </div>
                    <i class="fa fa-image widget-stat-icon"></i>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
            <div class="ibox bg-silver color-white widget-stat">
                <div class="ibox-body">
                    <h2 class="m-b-5 font-strong">{{stats.users}}</h2>
                    <div class="m-b-5">المستخدمين</div>
                    <i class="ti-user widget-stat-icon"></i>
                </div>
            </div>
        </div> -->
    </div>

   
    
    

    <style>
        .visitors-table tbody tr td:last-child {
            display: flex;
            align-items: center;
        }

        .visitors-table .progress {
            flex: 1;
        }

        .visitors-table .progress-parcent {
            text-align: right;
            margin-left: 10px;
        }
    </style>
</div>