﻿<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6 pull-right">
            <h3>
                <i class="fa fa-youtube"></i>
                <span>البث الحي</span>
            </h3>
            <p>
                هنا يمكنك التحكم في عرض الفيديوهات
            </p>
        </div>
        <div class="col-md-6 pull-left">
            <a  class="btn btn-default pull-left">
                <i class="fa fa-plus"></i> إضافة فيديو  جديد 
            </a>
        </div>

    </div>
    <hr />
    <div style="z-index:99999;" class="row fade-in-up">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">بيانات الفيديو</div>
                </div>
                <div class="ibox-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="video-form" action="java ipt:;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-md-12 form-group">
                                            <label>ضع الرابط للبث المباشر</label>
                                            <input required class="form-control" name="url" [(ngModel)]="item.url" type="text" placeholder="الرابط للبث المباشر">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <label>ضع وصف مختصر لمحتوي الفيديو</label>
                                            <input required class="form-control" name="title" type="text" (change)="urlChanged($event)" [(ngModel)]="item.title" placeholder="وصف الفيديو">
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <iframe class="col-lg-12" height="400" frameborder="0" allowfullscreen *ngIf="loadingvideo" [src]="currentUrl"></iframe>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group pull-left">
                                            <button class="btn btn-default" type="submit">
                                                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                                                حفظ
                                            </button>
                                            <a class="btn btn-danger">إلغاء</a>
                                        </div>
                                    </div>
                                    <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="alert alert-dark" role="alert">
                                            الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">سجل البث المباشر </div>
                </div>
                <div class="ibox-body">
                    <div class="ibox">
                        <div class="ibox-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th width="50px"></th>
                                            <th>وصف الفيديو</th>
                                            <th>التاريخ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let it of livevideos">
                                            <td>
                                                <label>
                                                    <span class="input-span"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="text-danger pull-right" (click)="markAsDelete(it)">
                                                    {{it.title}}
                                                </a>

                                            </td>
                                            <td>{{it.bodcastDate | date }}</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{itemPop.title}} </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe class="col-lg-12" height="400" [src]="currentUrlPop"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>