﻿

<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6 pull-right">
            <h3>
                <i class="fa fa-trophy"></i>
                <span>اللجان</span>
            </h3>
            <p>
                هنا يمكنك إدراة اللجان
            </p>
        </div>
        <div class="col-md-6 pull-left">
            <a (click)="toggleView(true)" class="btn btn-default pull-left"  *ngIf="commissions.length<4" >
                <i class="fa fa-plus"></i> إضافة لجنه جديدة
            </a>
        </div>
    </div>
    <hr/>
    
    <div style="z-index:99999;" *ngIf="isForm" class="row fade-in-up">
        <div class="col-md-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">بيانات اللجان</div>
                    <div class="ibox-tools">
                        <a (click)="toggleView(false)" class="ibox-collapse">
                            <i class="fa fa-remove"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" id="champion-form" action="javascript:;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <app-repo-image-uploader (imgChanged)="onImageChanged($event)" [url]="item.image" desc="صورة اللجنة"></app-repo-image-uploader>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="row">
                                        <div class="col-lg-12 form-group">
                                            <label>اسم اللجنة</label>
                                            <input required class="form-control" name="name" [(ngModel)]="item.name" type="text" placeholder="اسم اللجنة">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 form-group">
                                            <label>عن اللجنة</label>
                                            <textarea required class="form-control" rows="5" class="form-control" name="decription" [(ngModel)]="item.decription" placeholder="اكتب نبذة عن اللجنة"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="ibox">
                                        <div class="ibox-head">
                                            <div class="ibox-title">الاعضاء</div>
                                            <a href="javascript:;" data-toggle="modal" data-target="#exampleModal" class="text-success pull-left">
                                                <i class="fa fa-plus"></i> اضافه عضو
                                            </a>
                                        </div>
                                        <div *ngIf="members.length">
                                            قم بادخال الاعضاء
                                        </div>
                                        <div style="overflow-y:auto;">
                                            <table class="table table-hover" *ngIf="members.length">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>الصوره </th>
                                                        <th>الاسم</th>
                                                        <th>المنصب</th>

                                                    </tr>
                                                </thead>
                                                <tbody style="height: 200px; overflow-y:scroll;">

                                                    <tr *ngFor="let it of members ;  let i = index">
                                                        <td>{{i}}</td>
                                                        <td>
                                                            <img [src]="it.image ? it.image : './assets/img/image.png'" class="media-photo" style="height: 70px;">
                                                        </td>
                                                        <td>{{it.memberName}}</td>
                                                        <td>{{it.position}}</td>
                                                        <td>
                                                            <button href="javascript:;" class="btn btn-default btn-xs m-r-5" data-original-title="Edit" (click)="updateMember(it)" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-pencil font-14"></i></button>
                                                            <!--<button class="btn btn-default btn-xs m-r-5"   data-toggle="tooltip" data-original-title="Edit" (click)="updateMember(it)"><i class="fa fa-pencil font-14"></i></button>-->
                                                            <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Delete" (click)="deleteMember(i)"><i class="fa fa-trash font-14"></i></button>
                                                        </td>

                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>


                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group pull-left">
                                            <button class="btn btn-default" type="submit">
                                                <i class="fa fa-spinner fa-pulse fa-fw" *ngIf="loading"></i>
                                                حفظ
                                            </button>
                                            <button class="btn btn-danger"  (click)="toggleView(false)" >إلغاء</button>
                                        </div>
                                    </div>
                                    <div *ngIf="!f.valid && !f.pristine" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="alert alert-dark" role="alert">
                                            الرجاء مراجعة كل الحقول يبدو انك نسيت ادخال البيانات في بعض الحقول
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row ">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">بيانات العضو</h5>

                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" #PopUp>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form #f2="ngForm" (ngSubmit)="onSubmitMember(f2)" id="member-form" action="javascript:;">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                                        <app-repo-image-uploader (imgChanged)="onImageChangedMembers($event)" [url]="item2.image" desc="صورة العضو"></app-repo-image-uploader>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12 form-group ">
                                                            <label>اسم العضو</label>
                                                            <input required class="form-control" name="memberName" [(ngModel)]="item2.memberName" type="text" placeholder="اسم العضو">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 form-group ">
                                                            <label>عن العضو</label>
                                                            <textarea required class="form-control" rows="5" class="form-control" name="description" [(ngModel)]="item2.description" placeholder="اكتب نبذة عن اللجنة"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 form-group ">
                                                            <label>المنصب</label>
                                                            <input required class="form-control" name="position" [(ngModel)]="item2.position" type="text" placeholder="اسم اللجنة">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default"> حفظ</button>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelling()">إلغاء</button>

                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let it of commissions" class="col-lg-3 col-md-4 col-xs-12">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" [src]="it.image ? it.image : './assets/img/image.png'"   style="height: 151px;" />
                    <div class="card-body">
                        <h5 class="card-title">{{it.name}}</h5>
                         <div style="font-size: smaller !important;">{{it.decription}}</div>
                    </div>
                    <div class="card-footer">
                        <a href="javascript:;" (click)="editItem(it)" class="text-info pull-left">
                            <i class="fa fa-pencil"></i> تعديل
                        </a>
                        
                        <!-- <a href="javascript:;" (click)="markAsDelete(it)" data-toggle="modal" data-target="#exampleModal" class="text-danger pull-right">
                            <i class="fa fa-remove"></i> حذف
                        </a> -->

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">تأكيد الحذف</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        هل أنت متأكد من حذف الجهاز  {{item.title}} ؟؟
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                                        <button type="button" (click)="removeItem()" data-dismiss="modal" class="btn btn-danger">تأكيد الحذف</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
