<div class="upload-btn-wrapper">
  <button class="btn">
    <img class="text-center" width="200" height="200" [src]="url ? url : './assets/img/image.png'">
    <br/> {{desc}}
    <br/>
    <p style="font-size: x-small;">
      حد اقصي 4 ميغا للملف
    </p>
  </button>
  <input type='file' name="myfile" (change)="readUrl($event)" accept="image/*">
</div>